.navbar-default {
    background-color: #9802e2;
    border: none;
}

.navbar-default .navbar-brand{
  color: white;
  margin-left: 0px;
}

.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

.navbar-default .navbar-toggle:hover {
    background-color: #d483fc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f7f302;
}

.navbar-header{
  font-family: "Graphik4", Arial, Helvetica, sans-serif;
}

.navbar-header img{
  width: 20px;
  height: auto;
  margin: 13px 0 10px 20px;
  display: inline-block;
  float: left;
}

.profile >* {
    display: inline;
}

.profile img {
    width: 3em;
    margin-right: 0.5em;
    margin-left: 1em;
}

.profile p {
    color: #ffffff;
}